@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    margin: 0;
    background-color: #1f2937;;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.part-1 {
    display: flex;
    padding: 100px 200px;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 80px;
}

button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 8px;
    color: #f9faf8;
    background-color: #3882F6;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.left-side {
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
}

.right-side {
    background-color: gray;
    min-width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-2 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.card {
    width: 150px;
    flex-wrap: wrap;
    text-align: center;
}

.image {
    border-radius: 16px;
    border-width: 5px;
    border-style: solid;
    border-color: #3882F6;
    width: 50px;
    height: 50px;
    padding: 50px;
    margin-bottom: 10px;
}

.part-3 {
    background-color: #E5E7EB;
    padding: 100px 0 75px 0; 
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 60%;
    height: auto;
    padding: 20px 10px;
    margin: 0 300px;
}

.author {
    margin: 0 300px;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.part-4 {
    padding: 100px 200px;
}

.call-to-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    color: #f9faf8;
    font-weight: 500;
}

#button-two {
    border-color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 20px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}