@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    background-color: #1f2937;;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    font-size: 18px;
    color: #efe7eb;
}